[submodule "Final/harvestDC/Snap"]
	path = Final/harvestDC/Snap
	url = https://github.com/Masonry/Snap.git
[submodule "Final/harvestDC/--force"]
	path = Final/harvestDC/--force
	url = https://github.com/SnapKit/SnapKit.git
